@charset "utf-8";
h1, p {
  font-family: Lato;
}
/*selector de etiqueta, para todas las que hubiera*/
body {
  background-color: rgb(2, 53, 53);
}
header {
  background-color: rgb(7, 110, 110)
}
/*selector de ID -> #cabecera*/
#cabeceraweb{
  background-color: #00F;
}
#navegacionprincipal{
  background-color: rgb(230, 208, 15);
}
#barralateral{
  background-color: #0f0;
  float: left;
  height: 1080px;
}
#contenidoprincipal{
  background-color: #f00;
  margin-left: 250px;
  padding-left: 50px;
  padding-top: 50px;
}
#pieprincipal{
  background-color: rgb(255, 255, 255);
  clear:both;
  margin-top: 50px;
}
li{
  background-color: rgb(255, 255, 255);
}